{{> header}}
{{> navbar}}
<p>Pablo</p>
<p>{{Historia}}</p>
<center> <img src="img11.jpg" alt=""  width="300px" height="250px"></center>
<img src="img14.jpg" alt="" align="left" width="300px" height="250px">
<img src="img12.jpg" alt="" align="right" width="300px" height="250px">
<center><img src="img13.jpg" alt=""width="300px" height="250px"></center>
<center><img src="img15.jpg" alt=""  width="300px" height="250px"></center>
{{> footer}}
