{{> header}}
{{> navbar}}
<p>Dali</p>
<p>{{Historia}}</p>
<img src="img6.jpg" alt="" align="left" width="300px" height="250px">
<img src="img7.jpg" alt="" align="right" width="300px" height="250px">
<center><img src="img8.jpg" alt=""width="300px" height="250px"></center>
<img src="img9.jpg" alt="" align="left" width="300px" height="250px">
<img src="img10.jpg" alt="" align="right" width="300px" height="250px">
{{> footer}}
